footer{

position: absolute;
background-color: aquamarine;
height: 25%;
width: 1930px;
top: 714px;
left: -10px;
}

#s1{
position: absolute;
background-color: darkblue;
height: 730px;
width: 400px;
left: -10px;
top: -10px;



}
#s2{


    position: absolute;
    background-color: hotpink;
    height: 200px;
    width: 1530px;
    left: 390px;
    top: -10px;

}

body{
background-color: crimson;

}